body {
  background-image: url("../images/bg.jpg");
  background-size: 100% 100%;
  margin: 30px;
  background-attachment: fixed;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: left;
  color:rgb(8, 3, 51);
  word-wrap:break-word;  
  word-break:break-all;  
}

h1{
  text-align: center;
} 

